@media (max-width: 430px) {
  .image-wrapper {
    height: 292px;
    overflow: hidden;
  }
  .faq-box {
    width: 350px;
    height: 560px;
    padding: 30px;
    top: 150px;
    border-radius: 5px;
  }
  .title {
    gap: 25px;
    font-size: 20px;
  }
  .title img {
    width: 30px;
  }
  .accordion img {
    width: 30px;
  }
  .questions ul {
    font-size: 16px;
  }
  .question1,
  .question2,
  .question3,
  .question4 {
    margin-top: 10px;
  }
  .question1.visible,
  .question2.visible,
  .question3.visible,
  .question4.visible {
    transition: all 0.3s;
    height: 140px;
  }
}

@media (max-width: 390px) {
  .image-wrapper {
    height: 292px;
  }
  .faq-box {
    width: 350px;
    height: 550px;
  }
  .title {
    font-size: 18px;
  }
  .title img {
    width: 30px;
  }
  .accordion img {
    width: 30px;
  }
  .questions ul {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .faq-box {
    width: 340px;
    top: 60px;
  }
}

@media (max-width: 280px) {
  .faq-box {
    width: 250px;
  }
  .title {
    font-size: 14px;
  }
  .title img {
    width: 25px;
  }
  .accordion img {
    width: 20px;
  }
  .questions ul {
    font-size: 12px;
  }
}